
.navbar{
  color: white;

}
.navHeight{
height: 7vh;
}

.navBottom{
  height: 7vh;
}


body{
  padding-top: 7vh;
  padding-bottom: 5vh;
}

.navFont{
  color: white;

}

.form-group{
margin-bottom: 0px !important;
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
.navBottom{
  height: 10vh;
}

body{
  padding-top: 7vh;
  padding-bottom: 9vh;
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
.navFont{
display: none;
}
}



@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait)
{
.hideButton{
  display:none;
}

.navBottom{
  height: 14vh;
}

body{
  padding-top: 7vh;
  padding-bottom: 12vh;
}

/* .hideDelete{
  display: none;
}

.hideOperation{
  display:none;
} */

.hideAvg{
  display: none;
}

.centerTitle{
  flex:none;
  max-width: none;
}

.centerHead{
  text-align: center;
}

}



@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape)
{

  .navHeight{
    height: 16vh;
  }

  body {
    padding-top: 16vh;
    padding-bottom: 10vh;
  }


.navFont{
  display: none;
}

.navBottom{
  height: 15vh;
}

.mr-2 {
  margin-right: 5px !important;
}



}
